* {
  margin: 0px;
  padding: 0px;
}

body,
html {
  height: 100%;
}
nav {
  position: fixed;
  overflow: hidden;
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 100px;
  z-index: 2;
}
nav a {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-left: 15px;
  padding: 12px 12px;
  font-weight: bolder;
}
nav a:hover {
  background-color: purple;
}

.gorsel {
  position: absolute;
  float: left;
  height: 100%;
  width: 100%;
}

#gor1 {
  background-image: url("https://cdn.glitch.com/6a94339a-ab79-45fe-9dd8-7e83ec0353b0%2F1.jpg?v=1586007599434");
  background-size: cover;
  background-color: #E8A87C;
  background-attachment: fixed;
}
#gor2 {
  background-image: url("https://cdn.glitch.com/6a94339a-ab79-45fe-9dd8-7e83ec0353b0%2F1.jpg?v=1586007599434");
  background-size: cover;
  background-color: #E8A87C;
  background-attachment: fixed;
}
#gor3 {
  background-image: url("https://cdn.glitch.com/6a94339a-ab79-45fe-9dd8-7e83ec0353b0%2F1.jpg?v=1586007599434");
  background-size: cover;
  background-color: #E8A87C;
  background-attachment: fixed;
}
#gor4 {
  background-image: url("https://cdn.glitch.com/6a94339a-ab79-45fe-9dd8-7e83ec0353b0%2F1.jpg?v=1586007599434");
  background-size: cover;
  background-color: #E8A87C;
  background-attachment: fixed;
}
#gor5 {
  background-image: url("https://cdn.glitch.com/6a94339a-ab79-45fe-9dd8-7e83ec0353b0%2F1.jpg?v=1586007599434");
  background-size: cover;
  background-color: #E8A87C;
  background-attachment: fixed;
}
#gor6 {
  background-image: url("https://cdn.glitch.com/6a94339a-ab79-45fe-9dd8-7e83ec0353b0%2F1.jpg?v=1586007599434");
  background-size: cover;
  background-color: #E8A87C;
  background-attachment: fixed;
}
#gor7 {
  background-image: url("https://cdn.glitch.com/6a94339a-ab79-45fe-9dd8-7e83ec0353b0%2F1.jpg?v=1586007599434");
  background-size: cover;
  background-color: #E8A87C;
  background-attachment: fixed;
}
#gor8 {
  background-image: url("https://cdn.glitch.com/6a94339a-ab79-45fe-9dd8-7e83ec0353b0%2F1.jpg?v=1586007599434");
  background-size: cover;
  background-color: #E8A87C;
  background-attachment: fixed;
}
#gor9 {
  background-image: url("https://cdn.glitch.com/6a94339a-ab79-45fe-9dd8-7e83ec0353b0%2F1.jpg?v=1586007599434");
  background-size: cover;
  background-color: #E8A87C;
  background-attachment: fixed;
}
.anasayfa {
  position: absolute;
  float: left;
}
.anaYazi {
  width: 100%;
  z-index: 1;
  text-align: center;
  margin-top: 250px;
}
.anaYazi h1 {
  font-family: "IM Fell French Canon SC", serif;
  font-size: 70px;
  color: orange;
  margin-bottom: 5px;
}
.anaYazi p {
  font-size: 17px;
  font-family: "Comic Neue", cursive;
  color: white;
}
.filtre {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.64;
  z-index: 0;
}
#gor2 p {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 170px;
  font-size: 30px;
  color: orange;
  font-family: "Comic Neue", cursive;
  z-index: 2;
}

.giris {
  position: relative;
  text-align: center;
  width: 600px;
  height: 450px;
  margin: auto;
  margin-top: 230px;
  box-sizing: border-box;
  padding: 40px;
  background: #fff;
  z-index: 1;
}

.giris h2 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 30px;
  text-transform: uppercase;
}

.giris .pc {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}
.giris .pc input {
  height: 50px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
  border: 1px solid #000;
}

.giris .pc span {
  position: absolute;
  top: 12px;
  left: 20px;
  padding: 0;
  transition: 0.5s;
  pointer-events: none;
  background: #fff;
  text-transform: uppercase;
}

.giris .pc input:focus ~ span,
.giris .pc input:valid ~ span {
  top: 12px;
  left: 350px;
  font-size: 12px;
  padding: 2px 4px;
  border: 1px solid #fff;
  background: #ff0;
}

.giris .pc input[type="submit"] {
  background: #ff0;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}
.giris .pc input[type="submit"]:hover {
  background: #ffc107;
}

#gor4 p {
  top: 150px;
  left: 35%;
  position: absolute;
  text-align: center;
  font-size: 50px;
  color: orange;
  font-family: "Comic Neue", cursive;
  z-index: 1;
}

.textarea {
  position: absolute;
  z-index: 2;
  top: 250px;
  left: 40%;
  background-color: #6f1b1d;
  color: white;
  resize: none;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #C44D58;
}
.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #C44D58;
  color: #002b36;
  background-color: #0c0032;
}
.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #C44D58;
  color: #fdf633;
  background-color: #0c0032;
}
.tg .tg-fn30 {
  background-color: #271c80;
  color: white;
  text-align: center;
  vertical-align: top;
}
.tg .tg-q5q3 {
  background-color: #3b1c80;
  color: #fffe65;
  text-align: center;
  vertical-align: top;
}

.mytable {
  position: absolute;
  z-index: 1;
  text-align: center;
  margin: 120px 35%;
}

#btnLeft:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  transition: transform 1s;
}
#btnLeft1:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(0.8);
  transition: transform 1s;
}

.fotolar {
  margin-top: 200px;
  z-index: 2;
  position: fixed;
  float: left;
}

.foto1 {
  margin-left: 80px;
  float: left;
  margin-right: 80px;
}

.foto2 {
  float: left;
  margin-right: 50px;
}

.foto3 {
  float: left;
  transform: scale(0.5);

  width: 270px;
  height: 300px;
  object-fit: cover;
}

.centered {
  float: center;
  background-image: url(http://www.kgm.gov.tr/SiteCollectionImages/KGMimages/Haritalar/turistik.jpg); /* background image olmayacak */
  width: 490px;
  height: 367px;
  background-repeat: no-repeat;
  background-position: -3315px -700px;
  z-index: 0;
}

#gor7 h1{
  color: orange;
  font-size: 45px;
  margin-top: -100px;
}

#gor8 h1 {
  color: orange;
  font-size: 45px;
  margin-top: -100px;
}

.videolar {
  margin-left: 10px;
  float: left;
}

#gor9 h1 {
  font-size: 45px;
  margin-top: -100px;
}

.kisiler {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
}

strong {
  color: violet;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
